# Virtual environment
venv/

# VS Code
.vscode/

# Datasets
Dataset/
DATASET_COMBINED/
DATASETS_RANDOM_KAGGLE/
HEAD_DATASET/

# Models (MUST NOT BE IGNORED FOR CLOUD DEPLOYMENT)
# Models/

# Python cache
__pycache__/
*.pyc

# ML files (Allowing .h5 for deployment)
# *.h5
*.pt
*.ckpt

# Media
*.mp4
*.avi

# presentations
*.pptx
*.docx
*.pdf