# Virtual environment
venv/

# VS Code
.vscode/

# Datasets
DATASET_COMBINED/
DATASETS_RANDOM_KAGGLE/
HEAD_DATASET/

# Models
Models/
*.h5

# Python cache
__pycache__/
*.pyc

# ML files
*.pt
*.ckpt

# Media
*.mp4
*.avi

# Presentations and Documents
*.pptx
*.docx
*.pdf
PPT/
Presentation_Metrics/
paper/