# Virtual environment
venv/

# VS Code
.vscode/

# Python cache
__pycache__/
*.pyc

# Datasets and Media
dataset_combined/
head_dataset/
*.zip
dataset_combined.zip

# Temporary / Specific Files
project_review.md
DDD.docx
SDE_INTERVIEW_PREPARATION_GUIDE.md

# Models


# ML files
*.pt
*.ckpt

# Media
*.mp4
*.avi

# Presentations and Documents
# (Allowed for upload)
docs/paper